body {
    font-family: Arial, Helvetica, sans-serif;
}
.menu li{
    display:inline;
    padding-left: 15px;
    vertical-align: middle;
}
.menu {
    padding: 0;
    width: 100%;
}
.menu li a {
    text-decoration: none;
    color: #fc537a;
    font-weight: bold;
}
.menu li a:hover { 
    /* text-decoration: underline; */
    color: black;
}
.menu .imgLogo {
    width: 110px;
    padding-right: 10px;
}
.gallery img {
    max-height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 10px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
}
